.payment-form{
    width: 700px;
    margin-left: 35px;
    height: 650px;
    padding-top: 100px;
    background-color: hsl(190, 51%, 89%);
    border-radius: 5px;
}
.payment-form form{
    text-align: center;
    padding-top: 50px;
}
.payment-form form input{
    padding: 12px;
    font-family: initial;
    line-height: 20px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;   
    font-style: italic;
    background-color: rgb(225, 240, 243);
}
.first-input{
    width: 100px;
}
.thankyou{
    float: left;
    margin: 30px 0 0 60px;
    width: 30%;
    font-style: italic;
}