.user-profile{
    position: relative;
    float: right;
    margin: 70px 5% 0 22%;
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.user-icon{
    margin-top: -10px;
    float: right;
    width: 70px;
    height: 50px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.user-icon:hover {
    color: rgb(168, 164, 164);
}
.user-profile:hover{
    color: rgb(168, 164, 164);
}
.message{
    background-color: tomato;
    border-radius: 100px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 20px 7px 4px;
}
.username{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}