.diff-wrapper{
      display: grid;
      grid-template-columns: 200px 200px 200px 200px;
      grid-template-rows: 140px 140px 140px;
      height: 500px;
      margin-bottom: 200px;
      align-items: center;
      justify-items: center;
      margin-top: 950px;
      align-content: center;
      grid-auto-flow: row;
      justify-content: center;
  }

.diff-wrapper > h1 {
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: Roboto;
    font-style: normal;
    font-size: 40px;
    float: right;
    text-align: center;
    margin: 10px;
}
img.paw{
    width: 20px;
    height: 20px;
    margin: 2px 5px 0 0;
}
div.amount{
    color: white;  
    height: 100px;
    width: 100px;
    background-color: teal;
    border-radius: 100%;
    box-shadow: 3px 3px 3px rgb(17, 63, 63);
    text-align: center;
    font-family: Roboto;
    cursor: pointer;
    font-size: 25px;
    margin: 30px 20px 0 20px;
    line-height: 100px;
}
div.amount:hover{
    background-color: black;
}
div.text {
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
}
.donate2{
    margin-bottom: -50px;
    cursor: pointer;
    text-align: center;
}
 .donate2 {
  background-color: rgb(27, 135, 143);
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(17 63 63);
  color: white;
  transition: width 2s, height 4s;
  padding: 5px 10px 5px 10px;
  margin-left: 600px;
  text-decoration: none;
  width: 200px;
}
.donate2 > .text {
    top: -3px;
    position: relative;
    border: none;
    color: white;
    background-color: rgb(27,135,143);
  }
 .text:hover{
  text-decoration: none;
  color: black
}