.wrapper {
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-template-rows: auto;
    grid-gap: 40px;
    color: #444;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
    margin: 0 0 100px 28%;
    border-left: 3px dotted rgb(0, 128, 107);
}

.petImage {
    color: #fff;
    width: 240px;
    height: 240px;
    padding-left: 20px;
    font-size: 150%;
    background-size: cover;
    cursor: pointer;
}