.pet-wrapper{
    display: block;
    border-left: 3px dotted rgb(0, 128, 107);
    margin: 0 0 100px 28%;
    padding-top: 50px;
    padding-bottom: 30px;
}
.cat-image , .dog-image{
    border-left: 120px solid rgb(253,251,247);
    border-right: 30px solid rgb(253,251,247);
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
}
.dog-image > img ,.cat-image > img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.dog-image > a, .cat-image > a{
    text-decoration: none;
    font-size: 22px;
    color: grey;
    position: absolute;
    padding-top: 260px;
    margin-left: -230px;
}
.dog-image > a:hover, .cat-image > a:hover{
    color: rgb(69, 184, 145);
    font-weight: 400;
}
.dog-image:hover, .cat-image:hover{
    opacity: 0.7;
}