@media screen and (max-width: 950px) {
  header > img {
    position: static;
    display: none;
    }
}
.header-link, .donate-link{
  color: grey;
  text-decoration: none;
  list-style-type: none;
}



/* -------------------------------------------------------------------------------------- Header Link  */

.list-item-header-link {
  /* width: 100px; */
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  float: right;
  text-align: center;
  margin: 10px;
}

.list-item-header-link:first-of-type {
  margin-right: 38%;
}

.icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: block;
}
.list-item-header-link:hover {
  opacity: 0.5;
}
.list-item-header-link > a:hover {
  opacity: 0.5;
  text-decoration: none;
}



/* ---------------------------------------------------------------------------------------- Donate Link */

.donate-link{
  position: relative;
  top: 160px;
  left: 6%;
  font-size: 22px;
  line-height: 60px;
  display: inline;
}

.donate-link:hover{
  color: rgb(69, 184, 145);
  font-size: 25px;
  font-weight: 400;
}